<ng-container *ngFor="let t of teams">
  <nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col">Team Name</div>
        <div class="col-md-4" >Services</div>
        <div class="col">Score</div>
        <div class="col">DownTime</div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col">
          <h4>{{t.teamName}}</h4>
        </div>
        <div class="col">
          <button class="btn btn-success btn-demo">POI </button>
        </div>
        <div class="col">
          <button class="btn btn-success btn-demo">USER</button>
        </div>
        <div class="col">
          <button class="btn btn-danger btn-demo">USER-Java</button>
        </div>
        <div class="col">
          <button class="btn btn-danger btn-demo">TRIP</button>
        </div>
        <div class="col">
          <h4>{{t.points}} points</h4>
        </div>
        <div class="col">
          <h4>{{ t.downTimeMinutes | number:'1.0-0' }} min.</h4>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</ng-container>
