<ng-container *ngFor="let t of teams">
  <nb-card>
    <nb-card-body>
      <div class="row">
        <div class="col">
          <h4>{{t.teamName}}</h4>
        </div>
        <div class="col">
          <button class="btn btn-success btn-demo">POI </button>
        </div>
        <div class="col">
          <button class="btn btn-success btn-demo">USER</button>
        </div>
        <div class="col">
          <button class="btn btn-danger btn-demo">USER-Java</button>
        </div>
        <div class="col">
          <button class="btn btn-danger btn-demo">TRIP</button>
        </div>
        <div class="col">
          <h4>{{t.points}} points</h4>
        </div>
        <div class="col">
          <h4>{{ t.downTimeMinutes | number:'1.0-0' }} min.</h4>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
  <div class='table-responsive' *ngIf='teams && teams.length'>
      <table class='table'>
        <thead>
          <tr>
            <th>Team Name</th>
            <th>POI</th>
            <th>USER</th>
            <th>USER-JAVA</th>
            <th>TRIPS</th>
            <th>Score</th>
            <th>Downtime</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let t of teams'>
              <td>
                <a [routerLink]="['/teams', t.id]">
                  {{ t.teamName }}
                </a>
              </td>
              <service-status></service-status>
              <td>{{ product.productCode | lowercase | convertToSpaces: '-'}}</td>
              <td>{{ product.releaseDate }}</td>
              <td>{{ product.price | currency:'USD':'symbol':'1.2-2' }}</td>
              <td><pm-star [rating]='product.starRating'
                  (ratingClicked)='onRatingClicked($event)'>
              </pm-star>
          </td>
            </tr>
        </tbody>
      </table>
    </div>
</ng-container>
