<ng-container>
  <div class='table-responsive' *ngIf='teams && teams.length'>
      <table class='table'>
        <thead>
          <tr>
            <th>Team Name</th>
            <th>POI</th>
            <th>USER</th>
            <th>TRIPS</th>
            <th>USER-JAVA</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let t of teams'>
              <td>
                <a >
                  {{ t.teamName }}
                </a>
              </td>
              <td><ngx-servicestatus [serviceStatusArray]='t.serviceStatus' [serviceType]=1></ngx-servicestatus></td>
              <td><ngx-servicestatus [serviceStatusArray]='t.serviceStatus' [serviceType]=2></ngx-servicestatus></td>
              <td><ngx-servicestatus [serviceStatusArray]='t.serviceStatus' [serviceType]=3></ngx-servicestatus></td>
              <td><ngx-servicestatus [serviceStatusArray]='t.serviceStatus' [serviceType]=4></ngx-servicestatus></td>
            </tr>
        </tbody>
      </table>
    </div>
</ng-container>
