$num = "YOUR_NUMBER_HERE"
$resourceGroupName = "ProctorResource" + $num
$environmentHeader = "procoh"
$cosmosdbAccountName = $environmentHeader + "db" + $num
$functionName = $environmentHeader + "fn" + $num
$keyvaultName = $environmentHeader + "kv" + $num

$adapplicationName = $environmentHeader + "app" + $num
$adapplicationPass = $environmentHeader + "pass" + $num

$publicKey = "YOUR_PUBLIC_KEY_HERE"

$aksDnsName = "procohaks" + $num
$acrName = "procohacr" + $num

$proctorVMName = $environmentHeader + "vm" + $num


&.\deploy.ps1 `
  -ResourceGroupName $resourceGroupName `
  -Location eastus `
  -EnvironmentHeader $environmentHeader `
  -CosmosdbAccountName $cosmosdbAccountName `
  -FunctionAppBaseName $functionName `
  -PackageUrl "https://raw.githubusercontent.com/Azure-Samples/openhack-devops-tools/feature/api/leaderboard/api/Leaderboard/Binaries/backend-1.0.0.zip" `
  -KeyVaultName $keyvaultName `
  -ADAppName $adapplicationName `
  -ADAppPass $adapplicationPass `
  -AKSPublicKeyPath $publicKey `
  -AKSDnsNamePrefix $aksDnsName `
  -ACRName $acrName `
  -ProctorVMHostName $proctorVMName `
  -AdminUser azureuser `
  -AdminPassword AzureP@ssw0rd! `
  -ExternalKeyVaultName $keyvaultName `
  -teamNum 20 `
  -servicesPerTeam 3
   
Read-Host -Prompt 'For removing this resource press enter'

Remove-AzureRmResourceGroup -Name $resourceGroupName -Force
$application = Get-AzureRmADApplication -DisplayNameStartWith $adapplicationName
Remove-AzureRmADApplication -ObjectId $application.objectId -Force



