image:
  repository: tsuyoshiushio/sentinel
  tag: latest
  pullPolicy: Always
serviceSize: 20
services:
  - teamId: "01"
    serviceId: "0101"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"
  - teamId: "01"
    serviceId: "0102"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"    
  - teamId: "01"
    serviceId: "0103"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"     
  - teamId: "02"
    serviceId: "0201"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "02"
    serviceId: "0202"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "02"
    serviceId: "0203"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "03"
    serviceId: "0301"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "03"
    serviceId: "0302"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "03"
    serviceId: "0303"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "04"
    serviceId: "0401"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "04"
    serviceId: "0402"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "04"
    serviceId: "0403"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "05"
    serviceId: "0501"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "05"
    serviceId: "0502"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "05"
    serviceId: "0503"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "06"
    serviceId: "0601"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "06"
    serviceId: "0602"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "06"
    serviceId: "0603"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "07"
    serviceId: "0701"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "07"
    serviceId: "0702"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "07"
    serviceId: "0703"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "08"
    serviceId: "0801"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "08"
    serviceId: "0802"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "08"
    serviceId: "0803"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "09"
    serviceId: "0901"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "09"
    serviceId: "0902"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "09"
    serviceId: "0903"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "10"
    serviceId: "1001"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "10"
    serviceId: "1002"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "10"
    serviceId: "1003"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "11"
    serviceId: "1101"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "11"
    serviceId: "1102"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "11"
    serviceId: "1103"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "12"
    serviceId: "1201"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "12"
    serviceId: "1202"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "12"
    serviceId: "1203"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "13"
    serviceId: "1301"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "13"
    serviceId: "1302"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "13"
    serviceId: "1303"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "14"
    serviceId: "1401"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "14"
    serviceId: "1402"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "14"
    serviceId: "1403"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "15"
    serviceId: "1501"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "15"
    serviceId: "1502"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "15"
    serviceId: "1503"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "16"
    serviceId: "1601"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "16"
    serviceId: "1602"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "16"
    serviceId: "1603"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "17"
    serviceId: "1701"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "17"
    serviceId: "1702"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "17"
    serviceId: "1703"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "18"
    serviceId: "1801"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "18"
    serviceId: "1802"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "18"
    serviceId: "1803"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "19"
    serviceId: "1901"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "19"
    serviceId: "1902"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "19"
    serviceId: "1903"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "20"
    serviceId: "2001"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "20"
    serviceId: "2002"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  
  - teamId: "20"
    serviceId: "2003"
    endpoint: "YOUR_ENDPOINT_HERE"
    port: 80
    apiURL: "YOUR_API_URL_HERE"  

