{% extends "layout.html" %}

{% block content %}

<p><h2 class="app-title">Successfully uploaded <b>"{{ value }}"</h2></b></p>
<p>      
    <form method="post" action="/deployment">
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Team Enviromments</h1>
                </div>
        
                <div class="login-form">
                    <div class="control-group">
    
                        <input type="submit" value="Start Deployment..." name="deployment" class="btn btn-primary btn-large btn-block"/>
                    </div>
                </div>
            </div>
    </form>
</p>
    {% endblock %}
