{% extends "layout.html" %}

{% block content %}

<form action = "/uploader" method = "POST" enctype = "multipart/form-data">
<div class="login">
    <div class="login-screen">
        <div class="app-title">
            <h1>Upload Configuraton</h1>
        </div>

        <div class="login-form">
            <div class="control-group">
                <label for="upload">
                    <input type = "file" id="upload" name = "file" class="login-field" style="display:none"/>
                    <div class="btn btn-primary btn-large btn-block">
                        Choose File ...
                    </div>
                </label>
            </div>
            <div class="control-group"></div>
                <input type = "submit" class="btn btn-primary btn-large btn-block" required/>
            </div>
        </div>
    </div>
</form>
{% endblock %}