@{
    ViewData["Title"] = "Home Page";
}

<ul>

    <li>
        <div><a href="/dashboard/" title="Go to Traefic Dashboard" />Traefik Dashboard</div>
    </li>

</ul>

<div id="UserProfileInfo">

    @*@await Html.PartialAsync("/Views/UserProfile/Index.cshtml");*@
    

    @*<partial name="/Views/UserProfile/Index.cshtml" />*@

</div>


